<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Sign in Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" Type="text/css" href="css/style.css">
    </head>

    <body>
        <% if (typeof message != 'undefined') { %>
            <h6 class = "failure_message"> <%=message %></h6> 
            <% } %>
        
        <div>
        <h4>Create your WeatherOracle Account</h4> 
   
        <form name="signin" method="POST" action="/newaccount"> 
         
            <input class = "input-block" type="text" name="username" placeholder="Username"> 
            <input class = "input-block" type="password" name="password" placeholder="Password"> 
            <input class = "input-block" type="password" name="confirmpassword" placeholder="Confirm Password"> 
            <input  class = "input-block" type="submit" value="Submit">
          

        </form>
        <a href="/">Sign in instead</a>
        </div>
       
    </body>
    </html>
