.container {
    width: 600px;
    margin: 0 auto;
  }

h4 {
    text-align: center;
    margin-bottom: 2px; 
}

h6 {
    margin-top: 5px; 
    margin-bottom: 25px; 
}

.success_message {
    text-align: center;
    color: green; 
}

.failure_message {
    text-align: center;
    color: red; 
}


body {
    width: 800px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
  }

  .search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .signin{
    border: 2px solid black;
    border-radius: 20px; 
    padding: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weather {
    border: 2px solid black;
    border-radius: 20px; 
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.signoutbutton {
    position: absolute; 
    top: 8px;
  right: 24px;
}

.inline {
    display: inline; 
}

form {
    text-indent: 30px;
}
input {
    display: block; 
    margin-bottom: 5px;
}

p {
    font-family: 'Times New Roman', sans-serif;
}

